@font-face {
  font-family: "LINE Seed Sans";
  src: url("./assets/fonts/LINE_Seed_Sans_KR/WOFF2/LINESeedKR-Bd.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "LINE Seed Sans";
  src: url("./assets/fonts/LINE_Seed_Sans_KR/WOFF2/LINESeedKR-Rg.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "LINE Seed Sans";
  src: url("./assets/fonts/LINE_Seed_Sans_KR/WOFF2/LINESeedKR-Th.woff2");
  font-weight: thin;
}
